Source: libdpkg-parse-perl
Maintainer: lenovo <lenovo@>
Section: perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libclass-accessor-perl <!nocheck>,
                     libclass-c3-perl <!nocheck>,
                     libmodule-build-tiny-perl,
                     libparams-validate-perl <!nocheck>,
                     libtest-simple-perl <!nocheck>,
                     perl
Standards-Version: 4.6.2
Homepage: https://metacpan.org/release/DPKG-Parse
Rules-Requires-Root: no

Package: libdpkg-parse-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libclass-accessor-perl,
         libclass-c3-perl,
         libparams-validate-perl
Description: Parse various dpkg files into Perl Objects
 DPKG::Parse contains utilities to parse the various files created by dpkg and
 turn them into helpful Perl objects. Current files understood by various
 DPKG::Parse modules:
 .
 /var/lib/dpkg/status - DPKG::Parse::Status
 .
 /var/lib/dpkg/available - DPKG::Parse::Available
 .
 Packages.gz - DPKG::Parse::Packages
 .
 See each module's documentation for particulars - You should not be calling
 DPKG::Parse directly.
 .
 This description was automagically extracted from the module by dh-make-perl.
